@{
    ViewData["Title"] = "Ошибка";
}

<div class="weather-content">
    <div class="uk-section uk-section-largemuted">
        <div class="uk-container">
    
            <h2 class="uk-heading-bullet">Что-то пошло не так</h2>
    
            <div class="uk-grid-match uk-child-width-1@m" uk-grid>
                <div>
                    <a class="uk-link-text" asp-controller="Home" asp-action="Index">Вернуться на главную</a>
                </div>
            </div>
        </div>
    </div>
</div>